.nav-poke {
  background-color: #212529;
  * > {
    color: white;
  }
}
.card__grid {
  display: grid;
  //   grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-auto-rows: minmax(150px, auto);
  align-items: start;
  gap: 2.5rem;
  padding: 4rem 0;
  justify-content: center;
  //   width: 40vw;
  //   align-items: center;

  //   background-color: lighten($color: $background, $amount: 60);
  background-color: #171717;
  //   justify-items: center;
}
.button-up {
  display: none;
  padding: 20px;
  background: $background-main;
  border-radius: 10px;
  font-size: 15px;
  //color: rgb(0, 0, 0);
  cursor: pointer;
  position: fixed;
  bottom: 60px;
  right: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media screen and (min-width: 800px) {
  .card__grid {
    grid-template-columns: 0.5fr 0.5fr;
    gap: 2.5rem;
    width: 100vw;
    padding: 4rem 8rem;
  }
  .button-up {
    //display: none;
    padding: 20px;
    background: $background-main;
    border-radius: 10px;
    font-size: 20px;
    //color: rgb(0, 0, 0);
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    right: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .card__grid {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 2.5rem;
    width: 100vw;
    padding: 4rem 16rem;
  }
  .button-up {
    //display: none;
    padding: 20px;
    background: $background-main;
    border-radius: 10px;
    font-size: 20px;
    //color: rgb(0, 0, 0);
    cursor: pointer;
    position: fixed;
    bottom: 60px;
    right: 20px;
  }
}
.container-fluid {
  max-width: 1144px;
}
