// COLORS
$primary: #5c62c5;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
// POKEMONES
$background-main: #333333;
$background-sec: #223a47;
$poison: #a33ea1;
$grass: #7ac74c;
$water: #6390f0;
$fire: #ee8130;
$flying: #a98ff3;
$bug: #a6b91a;
$normal: #a8a77a;
$electric: #f7d02c;
$ground: #e2bf65;
$fairy: #d685ad;
$default: #a51d2a;
$darkk: #acacac;
$rock: #83685c;
$ice: #8cd1ff;
$ghost: #b4ece3;
